<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<h1 th:text="${condition}">123</h1>
<!-- 로그인 됬을때 -->
<div th:if="${condition == true}">
    <h1>logined page</h1>
    <h4 class="mb-3" th:text="|사용자: ${people.email}|"></h4>
    <!-- 로그아웃 버튼  -->
    <a th:href="@{/logout}">log out</a>
</div>

<div th:unless="${condition}">
    <h1>home page</h1>
    <!-- 로그인 링크 -->
    <a th:href="@{/login}">login</a>
    <!-- 회원가입 링크 -->
    <a th:href="@{/signup}">Sign up</a>
</div>

</body>
</html>